.header {
  padding: 1em;
  background-color: #fff;
  margin-bottom: 2em;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  .navbar-nav {
    .nav-link {
      color: rgb(42, 151, 151);
    }
  }
  .btn-sign {
    float: right;
    color: #fff;
    background-color: rgb(42, 151, 151);
    border-radius: 10px;
    padding: 0.4em 1.7em;
    font-weight: 600;
  }
}
